.stockSlab_main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    z-index: 1;
}


.stockSlab_layer1 {
    /* position: absolute;
    top: 0;
    left: 0; */
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 1px;
    background-color: white;
    color: rgba(138, 139, 139, 0.877);
    font-size: 14px;
    z-index: 1;
}

.fillSpace {
    flex-grow: 1;
}

.percentage_change {
    margin: 0 0.2rem;
}

.stockSlab_price {
    margin-left: 1rem;
}

.redStock {
    color: red;
}

.greenStock {
    color: var(--green-theme-2);
}

.stockSlab_layer2 {
    flex-grow: 1;
    transition: all 0.5s ease-in;
    display: none; 
    
}
.stockSlab_layer1:hover ~ .stockSlab_layer2 {
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    padding: 5px 10px;
    background-color:rgba(255, 255, 255, 0.637);
    
}

.stockSlab_layer2:hover {
    
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    background-color:rgba(255, 255, 255, 0.5);
    /* margin: 2px; */
    padding: 5px 10px;
}


@media only screen and (max-width: 920px) {
    .stockSlab_main {
        
        width: 100%;
        
    }
}