.App {
  text-align: center;
}

:root {

  --aqua-theme-1 : rgba(0,255,255,1);
  --green-theme-1 : rgb(53, 248, 53);
  --green-theme-2 : rgb(25, 212, 25);
  --green-theme-3 : rgb(18, 167, 18);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
