.watchList_main {
    position: relative;
    padding-top: 67px;
    display: flex;
    flex-direction: row;
    
    /* height: 100vh */
}



.watchList_selectedStock {
    flex-grow: 1;
    display: flex;
    position: absolute;
    
    flex-direction: column;
    margin-left: 402px;
    margin-bottom: 3px;
    height: 100vh;
    width: calc(100% - 402px);
    background-color: rgb(243, 239, 239);
}
    
.watchList_stockInfoHead_button {
    display: flex;

}

.watchList_chart {
    margin-bottom: 2px;
    background-color:white;
    /* border-radius:1rem; */
}

.watchList_stockInfoHead {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    margin-bottom: 2px;
    font-size: 1.5rem;;
    font-weight: 100;
}

.watchList_fill{
    color: white;
    background-color: white;
    flex-grow: 1; 
}

.MobileStockInfo_main {
    position: fixed;
    background-color: rgb(243, 239, 239);
    top : 20%;
    left: 10%;
    width: 80%;
    /* transform: translate(-50%, 0); */
    z-index: 200;
    border-radius: 5px;
}
.mobile-chart {
    border-radius: 5px;
}
.mobile-head {
    border-radius: 5px;
}


@media only screen and (max-width: 920px) {

    
    .watchList_selectedStock {
        display: none;
    }
}


@media only screen and (min-width: 920px) {

    .MobileStockInfo_main {
        display: none;
    }
}

