.gainerLooserSlab {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    background-color:white;
    padding: 7px 10px;
    border-bottom: 1px solid rgba(230, 229, 229, 0.747);
    cursor: pointer;
}

