.RemoveButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}

.RemoveButtonPart {

    border: 0.2px solid rgba(0, 0, 0, 0.37);
    background-color: white;
    color: black;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
    transition: all 0.2s ease-in;



    display: flex;
    align-items: center;
}

.RemoveButtonPart:hover {
    background-color: rgba(94, 94, 94, 0.63);
    color: white;
    border: none;
}

.RemoveIllustrationPart {
    position: absolute;
    top: -40px;

    background-color: black;
    color: white;
    padding: 5px 7px;
    border-radius:5px;
    opacity: 0;
    pointer-events: none;

    transition: all 0.2s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.RemoveIllustrationPart:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color:rgb(0, 0, 0);
    left: 50%;
    bottom:-5px;
    transform: rotate(45deg);
}


.RemoveButton:hover > .RemoveIllustrationPart{
    top: -40px;
    opacity:1;
    pointer-events: auto;
}






