.watchList_searchWindow {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    margin:2px 0;
    width: 400px;
    z-index: 3;
}

.searchIcon {
    font-size: 1.4rem;
}

.searchwindow_input {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.sc-bxivhb {
    /* z-index: 10000 !important; */
}

.sc-ifAKCX {
    width: 382px !important;
}

.watchList_searchWindow input{
    flex-grow: 1  ;
    font-size: 0.9rem;
    background-color: inherit;
    border: none;
}

@media only screen and (max-width: 920px) {
    .watchList_searchWindow {
        
        width: inherit;
        
    }
    .searchwindow_input {
        display: flex;
        width: 98%;
        align-items: center;
        justify-content: center;
    }
    .searchwindow_input .kYphPf {
        width: 100% !important;
    }
}





