
<div class="ciq-chart-area">
	<div class="ciq-chart">
		<div class="chartContainer">
			<cq-loader></cq-loader>
				<cq-measure><span class="mMeasure" style="display:none;"></span></cq-measure>
			<cq-undo></cq-undo>
			<cq-redo></cq-redo>
			<cq-chart-legend></cq-chart-legend>
		</div>
		<!-- End Chart Container -->
	</div>
	<!-- End Chart Box -->
</div>
<cq-dialog id="simulation-warning">
	<strong>Displayed data is simulated.</strong>
	<br/><br/>
	<div>DO NOT use this data as the basis for any trades or financial decisions.</div>
	<div class="ciq-btn clear" stxtap="close()">Close</div>
</cq-dialog>