.portfolioDetailWindow_main {
    flex-grow: 1;
}

.portfolio_welcomeNote {
    background-color: white;
    padding: 5px 5px;
    margin:  0px 7px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.5rem;
}